html{
    font-size: 62.5%;
}
body{
    background-color:#000;
}

#myClock{
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 10rem;
    font-style: italic;
    color: rgb(0, 0, 255);
    text-shadow: -3px -3px white;
}

@media (min-width : 0px) and (max-width : 390px)
{
    #myClock{
        font-size: 3rem;
        left : 20%;
    }
}

@media (min-width : 390px) and (max-width : 848px)
{
    #myClock{
        font-size: 4rem;
        left: 30%;
    }
    
}


